@charset "UTF-8";

:root{
    --corTema: #5f3a2b;
    --corAlternativa: #7f3a2b;
    --corAuxiliar: white;
}

header{
    min-height: 0;
    background-image: url("../imagens/fundo-header-catalogo.jpg");
    background-attachment: local;
}


header > h1{
    color: var(--corAuxiliar);
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px 3px #000000b0;
    padding-top: 60px;
    padding-bottom: 100px;
}

main article{
    border-bottom: 2px solid var(--corTema);
    padding: 5px;
    max-width: 800px;
    margin: auto;
}

main article > h1{
    font-size: 1em;
    text-align: left;
    padding: 0px;
}

main div{
    display: flex;
    align-items: center;
}

main div > img{
    width: 100px;
    height: 80px;
}

main div > p {
    font-size: 0.7em;
    padding: 10px;
    text-align: left;
}

main div > p.preco {
    font-size: 1em;
    font-weight: 600;
    padding: 5px;
    width: 100px;
}