@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;
    text-decoration: none;
}

:root{
    --corTema: #5f3a2b;
    --corAlternativa: #7f3a2b;
    --corAuxiliar: white;
}

body{
    background-color: #eee;
}

header{
    background-color: var(--corTema);
    background-image: url("../imagens/fundo-header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    text-align: center;
    position: relative;
}

header > img{
    width: 80vw;
    max-width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

header nav{
    padding-top: 10px;
    text-align: center;
}

header nav > a{
    display: inline-block;
    text-decoration: none;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: var(--corAuxiliar);
    padding: 2px;
    transition: 0.2s;
    box-sizing: border-box;
    border: 2px solid transparent;
}

header nav > a[href="#"]{
    border-bottom-color: var(--corAuxiliar);
} 

header nav > a:hover{
    border-bottom-color: var(--corAuxiliar);
}

main{
    color: var(--corTema);
    text-align: center;
}

main section{
    margin-top: 50px;
    margin-bottom: 50px;
}

main h1{
    font-size: 2em;
    font-weight: 700;
    padding: 10px;
}

main p {
    width: 80vw;
    margin: auto;
    padding: 10px;
    font-weight: 300;
}

main section > img{
    width: 49%;
    max-width: 250px;
    border-radius: 15px;
}

main section > img:hover{
    opacity: 0.7;
}

main p > img{
    width: 30px;
    vertical-align: middle;
}

main a.linkbtn{
    display: block;
    background-color: var(--corTema);
    color: var(--corAuxiliar);
    width: 50%;
    max-width: 200px;
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    text-decoration: none;
}

main a.linkbtn:hover{
    background-color: #7f3a2b;
}

main .logo-social{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 5px;
    transition: .2s;
}
main .logo-social:hover{
    transform: scale(0.9);
}

footer{
    background-color: var(--corTema);
    color: var(--corAuxiliar);
    text-align: center;
    padding: 10px;
}

footer > img{
    width: 50px;
    height: 50px;
}

footer > p{
    font-style: italic;
    font-size: 0.5em;
}